.btn.edit{
   
       margin-left: 0px;
     
       cursor: pointer;
       text-align: center;
      
     }
div{
  display: flex;
  justify-content:space-between;
  
  text-align: center;
}


     form{
      margin-bottom: 30px;
     }

     a button{
         border: none;
         border-radius: 5px;
         cursor: pointer;
     }
     
