<h3>Edit Employee</h3>
<form (ngSubmit)="onUpdate()" >
   
    <input type="text" autocomplete="off" [(ngModel)]="Name"  name="Name" placeholder="Name" required>
    <input type="text" autocomplete="off" [(ngModel)]="Designation"  name="Designation" placeholder="Designation" required>
    <input type="text" autocomplete="off" [(ngModel)]="Address"  name="Address" placeholder="Address" required>
      
     <div>
 <input    class="btn edit" type="submit" value="Update"> 
        <a routerLink="/">   <button class="btn">Back</button>    </a>    

     </div>  
</form>
