/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a8a29e;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
p{
    margin: 0px;
    padding: 0px;

}







.container{
    width: 400px;
    min-height: 200px;
    position: relative;
    border: 2px none rgba(0,0,0,0.9);
    margin: 80px auto;
    padding: 1px 20px;
    background-color: #fafaf9;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(100,100,100,0.7);

}

input{
    display: block;
    padding: 5px 10px;
    margin: 10px 5px ;
    width: 93%;
    border-radius: 5px;
    border: 1px solid rgb(206, 201, 201);
    box-shadow:inset 1px 2px 3px rgba(0,0,0,0.1) ;
}
input:focus{
    outline: none;
}

.btn{
   padding: 10px 30px;
   width: 100px;
   margin: 20px auto;
   box-shadow: 5px 5px 5px black;
   cursor: pointer;

}
.btn:hover{
    background-color:#a8a29e ;
    color: white;
}
.btn:active{
    opacity: 0.6;
}

h3{
    margin-bottom: 0px;
}

.fa-solid{
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
    
}